<!-- ./src/pages/Home.vue -->
<template>
  <div class="main">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <comment-list :comments="comments"></comment-list>
      </div>
    </div>
    <comment-form @submit-comment="handleNewComment"></comment-form>
  </div>
</template>

<script>
    import * as ds from 'deepstream.io-client-js';
    import { get } from '@/services/localStorage';

    import CommentList from '../components/CommentList';
    import CommentForm from '../components/CommentForm';

    export default {
        name: 'home',
        data() {
            return {
                comments: [],
                ds: ds('wss://013.deepstreamhub.com?apiKey=d2792c26-e1ea-4d57-96d3-ec347dd0db77')
            };
        },
        created() {
            this.auth = get('ds:cred');
            if (!this.auth || !this.auth.email) this.$router.push('/sign-in');

//            this.ds.login({}, () => {
//                console.log('logged in');
//            });
            this.ds.login({
                email: this.auth.email,
                password: this.auth.password,
            });

            this.commentsList = this.ds.record.getList('comments');

            this.commentsList.whenReady(() => {
                this.commentsList.getEntries().reverse().forEach((v) => {
                    this.getListEntryRecord(v);
                });

                this.commentsList.on('entry-added', (entry) => {
                    this.getListEntryRecord(entry);
                });
            });

        },
        methods: {
            handleNewComment(comment) {
                const commentRecord = this.ds.record.getRecord(`comment/${this.auth.id}/${this.ds.getUid()}`);
                commentRecord.whenReady(() => {
                    commentRecord.set(comment);
                    this.commentsList.addEntry(commentRecord.name);
                });
            },
            getListEntryRecord(entry) {
                const commentRecord = this.ds.record.getRecord(entry);
                commentRecord.whenReady(() => {
                    this.comments.unshift(commentRecord.get());
                });
            },
        },
        components: {
            CommentList,
            CommentForm,
        },
    };
</script>

<style scoped>
  /* ... */
</style>
