<!-- ./src/pages/SignIn.vue -->
<template>
  <div class="container">
    <div class="col-md-6 col-md-offset-3 sign-in">
      <h3>Sign In</h3>
      <form @submit.prevent="handleSubmit">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" v-model="model.email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" v-model="model.password">
        </div>
        <div class="form-group">
          <button>
            Enter
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
    import * as ds from 'deepstream.io-client-js';
    import { set } from '@/services/localStorage';
    import { $emit } from '@/services/eventHub';

    export default {
        data() {
            return {
                model: {
                    email: '',
                    password: '',
                },
                ds: ds('wss://013.deepstreamhub.com?apiKey=d2792c26-e1ea-4d57-96d3-ec347dd0db77'),
//                https://013.deepstreamhub.com/http/v1/auth/d2792c26-e1ea-4d57-96d3-ec347dd0db77
            };
        },
        created() {

        },
        methods: {
            handleSubmit() {
                this.ds.login({
                    type: 'email',
                    email: this.model.email,
                    password: this.model.password,
                }, (success, data) => {
//                    console.log('data         :' + JSON.stringify(data,null,2))
//                    data         :{
//                        "id": "fe0fb9db-20c3-4dfe-95db-2abce2a35770",
//                            "token": "ApRMujTScm9K2lTb4oQ4p-Gjv4g987vY"
//                    }
//                    console.log('success         :' + JSON.stringify(success,null,2))
                    if (!success) {
                        // User does not have an account,
                        // let her sign in
                        this.$router.push('/sign-up');
                    } else {
                        console.log('I am login, id: ' + data.id)

                        const user = this.ds.record.getRecord(`user/${data.id}`);

                        console.log('user' + user )

                        user.whenReady(() => {

                            console.log('my user  ' + JSON.stringify(user.get()))
                            // Store in localStorage
                            set('ds:cred', user.get());
                            // Emit auth event
                            $emit('auth:signIn', user.get());
                            // Go home
                            this.$router.push('/');
                        });
                    }
                });
            },
        },
    };
</script>

<style scoped>
  /*...*/
</style>
