<!-- ./src/pages/SignUp.vue -->

<template>
  <div class="container">
    <div class="col-md-6 col-md-offset-3 sign-up">
      <h3>Sign Up</h3>
      <form @submit.prevent="handleSubmit">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" v-model="model.email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" v-model="model.password">
        </div>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" class="form-control" v-model="model.name">
        </div>
        <div class="form-group">
          <button>
            Join
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
    import axios from 'axios';
    import md5 from 'blueimp-md5';
    import * as ds from 'deepstream.io-client-js';

    import { set } from '@/services/localStorage';
    import { $emit } from '@/services/eventHub';

    export default {
        name: 'sign-up',
        data() {
            return {
                model: {
                    name: '',
                    email: '',
                    password: '',
                    avatar: ''
                },
                ds: ds('wss://013.deepstreamhub.com?apiKey=d2792c26-e1ea-4d57-96d3-ec347dd0db77')
            }
        },

        methods: {
            handleSubmit() {
                this.model.avatar = `https://s.gravatar.com/avatar/${md5(this.model.email.trim().toLowerCase())}?s=200.jpg`

                this.ds.login({
                    type: 'email',
                    email: this.model.email,
                    password: this.model.password,
                }, (success) => {
                    if (!success) {
                        this.createUser()
                    } else {
                        set('ds:cred', this.model)
                        $emit('auth:signIn', this.model)
                        this.$router.push('/')
                    }
                })
            },
            createUser() {
                const authUrl = 'https://api.deepstreamhub.com/api/v1/user-auth/signup/d2792c26-e1ea-4d57-96d3-ec347dd0db77'
                axios.post(authUrl, {
                    type: 'email',
                    email: this.model.email,
                    password: this.model.password,
                }).then(({ data }) => {
                    // Attempt to re-login
                    this.ds.login({
                        type: 'email',
                        email: this.model.email,
                        password: this.model.password,
                    }, () => {
                        set('ds:cred', this.model)
                        $emit('auth:signIn', this.model)
                        this.addUserToRecords(data.id)
                    })
                })
            },
            addUserToRecords(userId) {
                this.users = this.ds.record.getList('users')
                this.users.whenReady(() => {
                    const user = this.ds.record.getRecord(`user/${userId}`)
                    user.whenReady(() => {
                        user.set(Object.assign({}, this.model, { id: userId }))
                        this.users.addEntry(user.name)
                        this.$router.push('/')
                    })
                })
            }
        }
    }
</script>


<style scoped>
  /* truncated */
</style>
