<!-- ./src/components/CommentList.vue -->
<template>
  <div class="row comment-list">
    <template v-for="comment in comments">
      <comment-box :comment="comment"></comment-box>
    </template>
  </div>
</template>

<script>
  import CommentBox from './CommentBox'

  export default {
    name: 'comment-list',
    props: ['comments'],
    data() {
      return {
      }
    },
    components: {
      CommentBox
    }
  }
</script>

<style scoped>
 /* ... */
</style>
