<!-- ./src/components/CommentBox.vue -->
<template>
  <div class="comment-box row">
    <div class="col-md-1">
      <img :src="comment.avatar" alt="" class="img-responsive">
    </div>
    <div class="col-md-10">
      <h4></h4>
      <p></p>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'comment-box',
        props: ['comment'],
        data() {
            return {
            }
        }
    }
</script>

<style scoped>

  /*...*/

</style>
