<!-- ./src/components/CommentForm.vue -->
<template>
  <div class="comment-form row">
    <form @submit.prevent="submitComment">
      <div class="form-group">
        <input type="text" class="form-control" v-model="model.text">
      </div>
    </form>
  </div>
</template>

<script>
    import { get } from '@/services/localStorage'

    export default {
        name: 'comment-form',
        data() {
            return {
                model: {
                    text: ''
                }
            }
        },
        created() {
            this.auth = get('ds:cred')
        },
        methods: {
            submitComment() {
                const comment = Object.assign({}, this.model, this.auth)
                this.$emit('submit-comment', comment)
            }
        }
    }
</script>

<style scoped>
  /*...*/
</style>
