<template>
  <div id="app">
    <!--Navigation-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <!--SVG icon here-->
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <template v-if="authUser && authUser.email">
            <li><router-link to="#"><img :src="authUser.avatar" alt="Avatar" class="img-responsive avatar"> {{ authUser.name }}</router-link></li>
            <li><a href="#" @click="handleSignOut">Sign Out</a></li>
          </template>
          <template v-else>
            <li><router-link to="/sign-in">Sign In</router-link></li>
            <li><router-link to="/sign-up">Sign Up</router-link></li>
          </template>
        </ul>
      </div>
    </nav>
    <!--Navigation-->
    <router-view/>
  </div>
</template>

<script>
  import * as ds from 'deepstream.io-client-js'
  import { $on, $emit } from '@/services/eventHub'
  import { get, remove } from './services/localStorage'

  export default {
    name: 'app',
    data () {
      return {
        authUser: {}
      }
    },
    created () {
      this.authUser = get('ds:cred')

      $on('auth:signOut', () => {
        this.authUser = {}
      })

      $on('auth:signIn', (data) => {
        this.authUser = data
      })
    },
    methods: {
      handleSignOut () {
        remove('ds:cred')
        $emit('auth:signOut')
        this.$router.push('/sign-in')
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
